{% extends 'base.html' %}

{% block titleBlock %}
用户中心
{% endblock titleBlock %}

{% block cssBlock %}
    <link rel="stylesheet" type="text/css" href="../../static/news/css/reset.css">
	<link rel="stylesheet" type="text/css" href="../../static/news/css/main.css">
	<script type="text/javascript" src="../../static/news/js/jquery-1.12.4.min.js"></script>
	<script type="text/javascript" src="../../static/news/js/jquery.form.min.js"></script>
	<script type="text/javascript" src="../../static/news/js/main.js"></script>
{% endblock cssBlock %}


{% block totalBlock %}
    <div class="user_menu_con fl">
        {% if context.user.avatar_url %}
            <div class="user_center_pic">
                <img src="{{ context.user.avatar_url }}" alt="用户图片">
            </div>
        {% else %}
            <div class="user_center_pic">
                <img src="../../static/news/images/user_pic.png" alt="用户图片">
            </div>
        {% endif %}
        <div class="user_center_name">{{ context.user.nick_name }}</div>

        <ul class="option_list">
            <li class="active"><a href="{{ url_for('users.info') }}" target="main_frame">基本资料</a></li>
            <li><a href="{{ url_for('users.pic') }}" target="main_frame">头像设置</a></li>
            <li><a href="{{ url_for('users.follow') }}" target="main_frame">我的关注</a></li>
            <li><a href="{{ url_for('users.pwd') }}" target="main_frame">密码修改</a></li>
            <li><a href="{{ url_for('users.collection') }}" target="main_frame">我的收藏</a></li>
            <li><a href="{{ url_for('users.release') }}" target="main_frame">新闻发布</a></li>
            <li><a href="{{ url_for('users.release_news') }}" target="main_frame">新闻列表</a></li>
        </ul>
    </div>

    <div class="user_con fr">
        <iframe src="{{ url_for('users.info') }}" frameborder="0" name="main_frame" class="main_frame" id="main_frame"></iframe>
    </div>


{% endblock totalBlock %}

	
